.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Pour que le conteneur principal occupe toute la hauteur de la fenêtre */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Pour que le conteneur de contenu s'étende et pousse le footer vers le bas */
.content-container {
  flex: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Style du footer si nécessaire */
footer {
  background-color: #D2B48C;
  padding: 20px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
